@charset "utf-8";
/*CSS Reset 
--------------------------------*/

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:14px Verdana, Geneva, sans-serif; font-family:"微软雅黑";}
body{background:#f2f2f2 ; color:#666;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none; color:#666; }
a:hover{text-decoration:underline; color:#a37c41;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
abbr[title]{border-bottom:1px dotted;cursor:help;}
legend{color:#000;}
fieldset, img { border:0;} 
a img{vertical-align:text-bottom;}
:focus {outline:0;}
textarea{overflow:auto;vertical-align:top;resize:vertical;}
button,input,select,textarea{font-size:100%;}
button,input,select{vertical-align:middle;}
button{cursor:pointer;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}

/*Common Style
--------------------------------*/
/*text align*/
.tc{ text-align:center;}
.tr{ text-align:right;}
.tj{ text-align:justify;}
/*float and clear*/
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.cb{ clear:both;}
/*clear*/
.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
/*contain floats*/
.group:before,
.group:after {content: "\0020"; display: block; height: 0; overflow: hidden;}
.group:after {clear: both;}
.group {zoom: 1;}
.hidden { display: none!important; visibility: hidden; }
.invisible { visibility: hidden; }
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/*layout style
--------------------------------------*/
/*首页开始*/

/*header部分*/
.header{height:154px; background:#474747; min-width:1120px;}
    .header .header_m{width:1120px; margin:0 auto; padding:30px 0 0 0;}
	    .header .header_m .header_m_top{height:70px; border-bottom:1px solid #fff; margin:0 0 10px 0;}
		     .header .header_m .header_m_top img{float:left; display:block;}
			 .header .header_m .header_m_top span{float:right; display:block; margin:30px 0 0 0;}
			    .header .header_m .header_m_top span a{float:left; padding:0 0 0 10px; background:url(../images/icon01.jpg) left no-repeat; margin:0 0 0 10px; color:#fff;}
		.header .header_m .header_m_bottom .nav{float:left;}
		    .header .header_m .header_m_bottom .nav a{display:block; float:left; margin:0 22px 0 0; font-size:17px; color:#fff;}
		.header .header_m .header_m_bottom .tel{float:right; background:url(../images/tel.jpg) left no-repeat; padding:0 0 0 50px; color:#fff; font-size:22px; font-weight:bold;}


.fullSlide {
	width:100%;
	position:relative;
	height:583px;
	background:#000;
}
.fullSlide .bd {
	margin:0 auto;
	position:relative;
	z-index:0;
	overflow:hidden;
}
.fullSlide .bd ul {
	width:100% !important;
}
.fullSlide .bd li {
	width:100% !important;
	height:583px;
	overflow:hidden;
	text-align:center;
}
.fullSlide .bd li a {
	display:block;
	height:583px;
}
.fullSlide .hd {
	width:100%;
	position:absolute;
	z-index:1;
	bottom:0;
	left:0;
	height:30px;
	line-height:30px;
}
.fullSlide .hd ul {
	text-align:center;
}
.fullSlide .hd ul li {
	cursor:pointer;
	display:inline-block;
	*display:inline;
	zoom:1;
	width:42px;
	height:11px;
	margin:1px;
	overflow:hidden;
	background:#000;
	filter:alpha(opacity=50);
	opacity:0.5;
	line-height:999px;
}
.fullSlide .hd ul .on {
	background:#f00;
}
.fullSlide .prev{
	display:block;
	position:absolute;
	z-index:1;
	top:40%;
	margin-top:-30px;
	left:15%;
	z-index:1;
	width:35px;
	height:108px;
	background:url(../images/left.png) no-repeat;
	cursor:pointer;
	filter:alpha(opacity=50);
	opacity:0.5;
	display:none;
}
.fullSlide .next{
	display:block;
	position:absolute;
	z-index:1;
	top:40%;
	margin-top:-30px;
	right:15%;
	z-index:1;
	width:35px;
	height:108px;
	background:url(../images/right.png) no-repeat;
	cursor:pointer;
	filter:alpha(opacity=50);
	opacity:0.5;
	display:none;
}



/***搜索****/
.sosuo{height:100px; background:url(../images/so_bg.png); min-width:1120px; font-size:15px; margin:-100px 0 0 0; position:relative; z-index:15;}	
   .sosuo .sosuo_m{width:1120px; margin:0 auto; padding:35px 0 0 0;}		 
     .sosuo_text{width:500px; height:32px; line-height:32px; background:#fff; border:0; text-indent:30px; margin:0 0 0 110px;}
	 .sosuo_xz{width:222px; height:32px; margin:0 30px;}
	 .sosuo_submit{width:108px; height:32px; border:0; cursor:pointer; background:url(../images/icon03.png) 15px no-repeat #fff; font-weight:bold; border-radius:3px;}
	 
	 
/******房子展示*******/
.h_products{width:1120px; margin:50px auto 0 auto; overflow:hidden;}
     /*****************************选项卡代码**************************************/
.tabbox{width:1180px; margin: 0 auto;}
			.tabbox .tabbtn{height:30px; line-height:30px;  font-size:22px;}
			.tabbox .tabbtn li{float:left; position:relative; width:190px;  text-align:center; border-right:1px solid #a9a9a9;}
			   .tabbox .tabbtn li a{color:#999;}
			.tabbox .tabbtn li.current a,.tabbox .tabbtn li.current span{color:#333; font-weight:bold;}
			.tabcon{padding:30px 0 0 0;}
			   .tabcon li{height:340px; width:363px; background:#fff; display:block; float:left; margin:16px 16px 0 0;}
			     .tabcon li img{display:block; width:363px; height:240px;}
				    .tabcon li h1{background:url(../images/so_bg.png); padding:0 30px; height:53px; line-height:53px; font-size:20px; float:left; margin:-53px 0 0 0; position:relative; z-index:10;}
					.tabcon li h1 a{color:#fff;}
					.tabcon li h2{padding:25px 20px 0 20px; font-size:16px; height:30px;}
					   .tabcon li h2 a{float:left; color:#333; display:block;}
					   .tabcon li h2 span{display:block; float:right; color:#9c8a68;}
					     .tabcon li h2 span em{font-size:20px;}
					.tabcon li p{padding:0 20px;}
/*****************************选项卡代码******************************/
   .more01 a{width:170px; height:52px; line-height:52px; background:#fff; border:1px solid #d4d4d4; margin:50px auto; display:block; text-align:center; font-size:18px;}
   
   
   
.bj_white{background:#fff; min-width:1200px; padding:60px 0;}   
   .gxm_icon{width:1120px; margin:0 auto;}
     .gxm_icon span{width:300px; float:left; text-align:center; display:block; line-height:30px; margin:0 100px 0 0;} 
	    .gxm_icon span h1{font-size:24px;}
		.gxm_icon span h2{font-size:18px; margin:0 0 10px 0; font-weight:normal;}
		
		
     .h_ad01{height:204px; min-width:1120px; margin:50px auto 0 auto;}
     
	 .h_news{width:1120px; margin:40px auto 0 auto;}	
	    /*焦点图*/
			.focus{ position:relative; width:690px; height:434px; background-color: #000; float: left;}  
			.focus img{ width: 690px; height: 434px;} 
			.focus .shadow .title{width: 260px; height: 65px;padding-left: 30px;padding-top: 20px;}
			.focus .shadow .title a{ text-decoration:none; color:#fff; font-size:14px; font-weight:bolder; overflow:hidden; }
			.focus .btn{ position:absolute; bottom:34px; left:510px; overflow:hidden; zoom:1;} 
			.focus .btn a{position:relative; display:inline; width:13px; height:13px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }  
			.focus .btn a:hover,.focus .btn a.current{  cursor:pointer;background:#fc114a;}  
			.focus .fPic{ position:absolute; left:0px; top:0px; }  
			.focus .D1fBt{ overflow:hidden; zoom:1;  height:16px; z-index:10;  }  
			.focus .shadow{ width:100%; position:absolute; bottom:0; left:0px; z-index:10; height:80px; line-height: 80px; background:rgba(0,0,0,0.6);    
			filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;  display:block;  text-align:left; }  
			.focus .shadow a{ text-decoration:none; color:#fff; font-size:20px; overflow:hidden; margin-left:10px; font-family: "\5FAE\8F6F\96C5\9ED1";}  
			.focus .fcon{ position:relative; width:100%; float:left;  display:none; background:#000  }  
			.focus .fcon img{ display:block; }  
			.focus .fbg{bottom:25px; right:40px; position:absolute; height:21px; text-align:center; z-index: 200; }  
			.focus .fbg div{margin:4px auto 0;overflow:hidden;zoom:1;height:14px}    
			.focus .D1fBt a{position:relative; display:inline; width:12px; height:12px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }    
			.focus .D1fBt .current,.focus .D1fBt a:hover{background:#fc114a;}    
			.focus .D1fBt img{display:none}    
			.focus .D1fBt i{display:none; font-style:normal; }    
			.focus .prev,.focus .next{position:absolute;width:40px;height:74px;background: url(../images/focus_btn.png) no-repeat;}
			.focus .prev{top: 50%;margin-top: -37px; left: 0;background-position:0 -74px; cursor:pointer; }  
			.focus .next{top: 50%;margin-top: -37px; right: 0;  background-position:-40px -74px;  cursor:pointer;}  
			.focus .prev:hover{  background-position:0 0; }  
			.focus .next:hover{  background-position:-40px 0;}  
			
		.h_news_r{float:right; width:402px;}
		    .h_news_r h1 span{float:left; font-size:22px;}	
			.h_news_r h1 a{float:right; font-weight:normal;}
		   .h_news_r_m{padding:15px 0 0 0;}
		      .h_news_r_m p{height:40px; line-height:40px; font-size:18px; padding:0 0 0 20px; background:url(../images/icon07.jpg) left no-repeat;}
			
.min_nav{ background:#c5c5c5;}
   .min_nav .min_nav_m{background:url(../images/logo01.jpg) left no-repeat;height:62px; line-height:62px; width:1120px; margin:0 auto;}
       .min_nav .min_nav_m p{padding:0 0 0 230px; color:#fff;}
	       .min_nav .min_nav_m p a{color:#fff; padding:0 5px;}
.footer{background:#474747; color:#929292;}
     .footer .footer_m{padding:40px 0; width:1120px; margin:0 auto;}
	 .footer .footer_m .footer_m_top{border-bottom:1px solid #b5b8bb; padding:0 0 20px 0;}
			.footer .footer_m .footer_m_top .footer_m_top_l{width:722px; float:left; line-height:24px;}
			   .footer .footer_m .footer_m_top .footer_m_top_l span{font-size:12px; display:block; margin:10px 0 0 0;}
			   .footer .footer_m .footer_m_top .footer_m_top_l h1{color:#fff; font-size:16px;}
			.footer .footer_m .footer_m_top .footer_m_top_r{float:right;}
			   .footer .footer_m .footer_m_top .footer_m_top_r p{text-align:center; float:left; margin:0 0 0 10px; color:#fff;}
	.footer .footer_m .footer_m_center{border-bottom:1px solid #b5b8bb; font-size:12px; padding:20px 0;}
	    .footer .footer_m .footer_m_center a{padding:0 10px 0 0; color:#929292;}
	.footer .footer_m .footer_m_bottom{padding:20px 0 0 0; line-height:22px; text-align:center;}
		  