<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="viewport" content="width=device-width"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection" />
    <title>源涞国际</title>
    <link type="text/css" href="/css/mobile-main.css" rel="stylesheet" />
    <script type="text/javascript" src="/files/js/mobile/jquery.js"></script>
    <script type="text/javascript" src="/files/js/mobile/modernizr.custom.js"></script>
    <script type="text/javascript" src="/files/js/mobile/jquery.dlmenu.js"></script>
</head>
<body>
<div class="header">
    <!--
    <a href="#"><div class="header_l"><img src="/img/mobile/fanhui.png" width="20" /></div></a>
    -->
    <div class="header_c">超过 <%= result.total %> 套房源</div>

    <div id="dl-menu" class="dl-menuwrapper">
        <button id="dl-menu-button">Open Menu</button>
        <ul class="dl-menu">
            <li><a href="/apartment/">热门房源</a></li>
            <li><a href="/daily/">日租房源</a></li>
            <li><a href="/user/login/">用户登录</a></li>
        </ul>
    </div>

    <script type="text/javascript">
        $(function(){
            $( '#dl-menu' ).dlmenu();
        });
    </script>

</div>
<div class="main01">
    <div class="sort01">
        <a href="#">房源<img src="/img/mobile/icon01.png"></a>
        <a href="#">价格<img src="/img/mobile/icon01.png"></a>
        <a href="#">面积<img src="/img/mobile/icon01.png"></a>
        <a href="#" id="sort01_m">筛选<img src="/img/mobile/icon02.png"></a>
    </div>

    <div class="sosuo01">
        <h1>行政区域</h1>
        <a id="sosuo_hover" href="#">黄埔</a><a href="#">黄埔</a><a href="#">黄埔</a><a href="#">黄埔</a>
        <div class="clear"></div>
    </div>

    <div class="sosuo01">
        <h1>房型</h1>
        <a id="sosuo_hover" href="#">黄埔</a><a href="#">黄埔</a><a href="#">黄埔</a><a href="#">黄埔</a>
        <div class="clear"></div>
    </div>

    <div class="sosuo01">
        <h1>价格</h1>
        <a id="sosuo_hover" href="#">15000以下</a><a href="#">15000以下</a><a href="#">15000以下</a>
        <div class="clear"></div>
    </div>

    <div class="fangyuan_pic">
        <a href="#"><img src="/img/mobile/img02.jpg"></a>
        <div class="fangyuan_pic01">
            <h1><a href="#">【凯欣豪苑】长宁凯欣豪苑精装2房公寓</a></h1>
            <h2><p>2室1厅1卫 | 96平米 </p><span>￥<em> 2900</em> / 月</span></h2>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="fangyuan_pic">
        <a href="#"><img src="/img/mobile/img02.jpg"></a>
        <div class="fangyuan_pic01">
            <h1><a href="#">【凯欣豪苑】长宁凯欣豪苑精装2房公寓</a></h1>
            <h2><p>2室1厅1卫 | 96平米 </p><span>￥<em> 2900</em> / 月</span></h2>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="fangyuan_pic">
        <a href="#"><img src="/img/mobile/img02.jpg"></a>
        <div class="fangyuan_pic01">
            <h1><a href="#">【凯欣豪苑】长宁凯欣豪苑精装2房公寓</a></h1>
            <h2><p>2室1厅1卫 | 96平米 </p><span>￥<em> 2900</em> / 月</span></h2>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>
</div>
<div class="clear"></div>
</body>
</html>
