<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="viewport" content="width=device-width"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection" />
    <title>租房网</title>
    <link type="text/css" href="/css/mobile-main.css" rel="stylesheet" />
</head>
<body>
<div class="header">
    <div class="header_l"></div>
    <div class="header_c">预约看房</div>
    <div class="header_r"></div>
</div>
<div class="main01" style="padding:0 0 90px 0;">
    <div class="order01">
        <div class="order01_top">
            <h1>上海法租界永康路<br><span>上海徐汇区天平路街道永康路124号2楼</span></h1>
        </div>

        <div class="clear"></div>
    </div>

    <div class="yuyue01">
        <ul>
            <li>
                <img src="/img/mobile/icon11.png" />
                <em></em>
                <input class="weituo01"
                       onfocus="if (value =='姓名'){value =''}"
                       onblur="if (value ==''){value='姓名'}"
                       value="姓名" type="text" />
            </li>
        </ul>
        <li>
            <img src="/img/mobile/icon12.png" />
            <em></em>
            <input class="weituo01"
                   onfocus="if (value =='手机号'){value =''}"
                   onblur="if (value ==''){value='手机号'}"
                   value="手机号"
                   type="text" />
        </li>
        <div class="clear"></div>
        <input type="submit" value="登录" class="login_button01">

        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>

</body>
</html>
