<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>关于页面</title>

<link type="text/css" rel="stylesheet" href="/css/style.css" />
<script type="text/javascript" src="/files/js/jquery-1.8.3.min.js"></script>

</head>
<body>

<!-----头部----->
<% include header.ejs %>
<!-----头部----->
<div class="clear"></div>



<div class="min_banner01" style="background:url(/img/banner01.jpg) center no-repeat"></div>
<div class="n_main_x">
    <div class="n_main_x_m">
        <div class="n_menu_x">
            <div class="n_menu_x_m">
                <ul>
                    <li><a  href="#jianjie">公司简介</a></li>
                    <li><a href="#youshi">公司优势</a></li>
                    <li><a href="#yunying">运营优势</a></li>
                    <li><a href="#lianxi">联系我们</a></li>
                </ul>
            </div>

        </div>

        <div class="about_x01">
            <img src="/img/img_x.jpg" width="355" height="222"/>
        </div>
        <div class="about_x02" id="jianjie">
            <div class="about_x02_name">
                <h1>公司简介<span>COMPLANY PROFILE</span></h1>
            </div>
            <div class="about_x02_m">
                上海源涞实业有限公司成立于2013年，历经近3年的高速发展，已经成为中国领先的中高端公寓资产管理商，通过“产品+互联网+金融”完美结合，实现存量资产的盘活。产品以其特色的装修风格，并通过贴心的管家式服务，赋予其高附加值，向客户提供超五星级的居住体验。为国内外商务人士及旅游人士提供更加全面系统的综合服务解决方案。

                公司目前与全球知名房地产开发集团、国内国际著名房地产投资基金、世界500强企业人力资源部、全国200多家涉外机构、3000多位涉外经纪人保持长期活跃合作关系。
                我们庞大的房源数据库，使得我们的客户总能在第一时间轻松选择到品质优良的满意房源。
            </div>
        </div>
        <div class="clear"></div>
        <div class="about_x03" id="youshi">
            <div class="about_x02_name">
                <h1>公司优势<span>COMPLANY PROFILE</span></h1>
            </div>
            <div class="about_x03_m">
                我们是国内的中高端公寓服务先行者；<br/>
                我们有极强的在一线城市核心区域获取物业的能力；<br/>
                我们有大量国内外优秀企业客户资源积累；<br/>
                我们有一批各个行业精英组成的运营团队；<br/>
                我们有强大的执行团队和系统平台开发能力；<br/>
                源涞国际运行至今，管理资产规模已超100亿元人民币；
            </div>
        </div>
        <div class="clear"></div>
        <div class="about_x04" id="yunying">
            <div class="about_x02_name">
                <h1>运营优势<span>COMPLANY PROFILE</span></h1>
            </div>
            <div class="about_x04_m">多样房源 整合核心城区及商业中心、景区附近优质房源，为客户提供最佳视野、最便捷交通的居住环境。<br/>
                租期灵活 可提供日租、短租（1-6个月）、长租（6个月以上）不同租期形式，以满足客户不同需求，同时最大程度减小空置，提高周转，提升经济效益。<br/>
                高效平台 房源动态实时在线，在线看房、预定房源、在线支付等均可一键完成。<br/>
                安全保障 房门采用智能门锁系统，一客一密，密码“钥匙”入驻，不必担忧钥匙复制，并支持手机远程遥控开锁，安全方便。<br/>
                跨界团队 汇聚具有创新意识、拥有共同目标、有着不同专业知识背景的地产、IT、酒店管理等多行业精英，让企业在瞬息万变的商业环境中亦能平稳发展。
            </div>
            <img src="/img/img_x03.jpg"/>
        </div>
        <div class="clear"></div>

        <div class="about_x05" id="lianxi">
            <div class="about_x02_name">
                <h1>联系我们<span>COMPLANY PROFILE</span></h1>
            </div>
            <img src="/img/img_map.jpg" width="400" height="383"/>
            <div class="about_x05_m">
                <div class="about_x5_m01">
                    <h1>上海市徐汇区虹桥路1号港汇中心一座4004号</h1>
                    <p>
                        公司邮箱：yl@yuanlaishiye.com <br/>
                        预订热线：400-668-1609 <br/>
                        公司传真：021-64473013 <br/>
                        源涞官网：www.ylrents.com <br/>
                        源涞订房：www.ylrent.com
                    </p>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

<% include footer.ejs %>