<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>房东委托</title>

<link type="text/css" rel="stylesheet" href="/css/style.css" />
<script type="text/javascript" src="/files/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/files/lib/laydate/laydate.js"></script>
<script type="text/javascript" src="/files/lib/Validform_v5.3.2_min.js"></script>
<link type="text/css" rel="stylesheet" href="/files/lib/jqueryflash/jquery.flash.css" />
<script type="text/javascript" src="/files/lib/jqueryflash/jquery.flash.js"></script>
<script type="text/javascript" src="/files/lib/jquery.loading.min.js"></script>
<link type="text/css" rel="stylesheet" href="/files/lib/jquery.loading.min.css" />
</head>
<body>

<!-----头部----->
<% include header.ejs %>
<!-----头部----->
<div class="clear"></div>


<!-----头部----->
<div class="clear"></div>
<div class="min_banner" id="weituo" style="background:url(/img/weituo_bg.jpg) center no-repeat; height:630px;">
             <div class="weituo">
                    <div class="weituo_r">
                    <h1>房东委托</h1>
                    <form action="/appointment/delegate" class="registerform" method="post">
                    <ul>
                        <li><img src="/img/icon18.png" /><em></em><input datatype="*" tip="姓名" errormsg="请填写姓名"  name="name" class="weituo01"  value="姓名" type="text" /></li>
                        <li><img src="/img/icon19.png" /><em></em><input datatype="m" id="usernameField" tip="手机号" errormsg="请填写手机号" name="mobile" class="weituo01" value="手机号" type="text" /></li>
                        <li><img src="/img/date.png" style="margin-left:23px; margin-top:10px;" /><em style="margin-left:20px;"></em><input datatype="*" tip="起租日期" errormsg="请选择日期" name="startDate" class="weituo01"  value="起租日期"  onclick="laydate()" type="text"  /></li>
                        <li><img src="/img/buildings.png"  style="margin-left:23px; margin-top:10px;" /><em style="margin-left:16px;"></em><input datatype="*" tip="小区" errormsg="小区" name="communityName" class="weituo01"  value="小区" type="text" /></li>
                        <li  ><img src="/img/house_1.png"  style="margin-left:22px; margin-top:10px;" /><em style="margin-left:16px;"></em>
                        
                        <div class="weituo01" id="delselect">
                            <cite>房型</cite>
                            <ul  class="divselect">
                               <li><a href="javascript:;" selectid="1">一房</a></li>
                               <li><a href="javascript:;" selectid="2">两房</a></li>
                               <li><a href="javascript:;" selectid="3">三房</a></li>
                               <li><a href="javascript:;" selectid="4">三房以上</a></li>

                            </ul>
                        </div>
                        </li>
                        <input name="structure" type="hidden" datatype="*" tip="请选择房型" value="" id="inputselect"/>
                        <li><img src="/img/rent.png"  style="margin-left:22px; margin-top:10px;" /><em style="margin-left:20px;"></em><input class="weituo01" datatype="n" errormsg="请填写意向租金" tip="意向租金" name="price" value="意向租金" type="text" /></li>
                        <li style="width:190px;"><img src="/img/code.png" style="margin-left:22px; margin-top:10px;" /><em style="margin-left:18px;"></em><input datatype="n" tip="验证码"  name="smscode" class="weituo01" style="width:110px;"  value="" type="text" /></li>
                        <li style="border:0;width:120px; float:right;"><input type="button" style="width:120px; margin:0px;" class="weituo02 sendButtons yanzhengma"  value="获取验证码" /></li>
                        <li style="border:0"><input type="submit" class="weituo02" style="margin-top:0px;" value="提交委托" /></li>
                    </ul>
                    </form>
                         <div class="clear"></div>
                    </div>
             </div>
</div>

<div class="yijianweituo">
    <div class="yijianweituo_top">
           <h1>源涞优势<br /><span>『Hosting Plan』</span></h1>
    </div>
    <div class="yijianweituo_center">
            <h1>6YEAR<span>高端物业管理经验</span></h1>
            <h1>2000+<span>外籍人员管理经验</span></h1>
            <h1>5★<span>专业服务团队</span></h1>
            <h1>200000+<span>管理房屋面积</span></h1>
            <h1>100+<span>专业工程维修团队</span></h1>
            <h1>15%<span>业主月租金提升</span></h1>
    </div>
    <div class="clear"></div>

    <div class="yijianweituo_bottom">
    <div class="yijianweituo_top">
         <h1>托管方案<br /><span>『Hosting Plan』</span></h1>
    </div>
     <div class="yijianweituo_bottom_m">
           <ul>
                <li>
                     <img src="/img/yj_img.jpg" width="281" />
                     <i>01</i>
                     <h1>包租服务</h1>
                         业主全程房屋托管<br />
                         源涞提供管家式托管服务<br />
                         无需担心房屋空置
                         <h2>收益稳定｜房屋增值｜全程无忧</h2>

                </li>
                 <li style="height:493px;">
                     <img src="/img/yjwdcentern.jpg" width="281" />
                     <i>02</i>
                     <h1>代理服务</h1>
                         业主提供房屋<br />
                         源涞提供相关出租服务<br />
                         需找目标租客
                         <h2>全程带看｜租约签订｜客源稳定</h2>

                </li>
                 <li>
                     <img src="/img/yjwtright.jpg" width="281" />
                     <i>03</i>
                     <h1>托管服务</h1>
                         业主自行出租房屋<br />
                         源涞为房屋和租客提供<br />
                         专业的租后管理服务
                         <h2>房屋保值｜房屋维护｜日常服务</h2>

                </li>
           </ul>
        </div>
        <div class="clear"></div>
        <div class="yjwt_liucheng">
            <div class="yijianweituo_top">
                 <h1>托管流程<br /><span>『Hosting Process』</span></h1>
            </div>
            <img src="/img/yj_icon.png" />
            <div class="clear"></div>
        </div>

        <div class="yjwt_button"><a href="#weituo">一键委托</a></div>

    </div>

    <div class="clear"></div>
</div>
<% include footer.ejs %>




<script type="text/javascript">
    $(function() {
        <% if (messages.error || messages.info) { %>
            <% if (messages.info) { %>
                $.flash("<%= messages.info %>");
            <% } %>
            <% if (messages.error) { %>
                $.flash("<%= messages.error %>");
            <% } %>
        <% } %>
    });
</script>

<script type="text/javascript" src="/files/js/divselect.js"></script>
<script type="text/javascript" src="/files/js/apartment.js"></script>
<script>
$(function(){
    $.divselect("#delselect","#inputselect");
});

$(function(){
	
	$.Tipmsg.r=null;
		
	var showmsg=function(msg){
		$.flash(msg);
	}
	
	$(".registerform").Validform({
		tiptype:function(msg,o,cssctl){
			if(!o.obj.is("form")){
				showmsg(msg);
			}
		},
		tipSweep:true,
		ajaxPost:true,
        beforeSubmit: function(form) {
            $('body').loading();
            return true;
        },
		callback:function(data){
			console.log(data.msg);
            $('body').loading('stop');
			if(data.code!=0)  //验证失败
			{
				$.flash(data.msg) ;
			
			}
			else
			{
				$.flash(data.msg) ;
				$('.apartmentform')[0].reset();
			}
		}
	});
})
</script>

</body>
</html>