<!------共用底部---------->
<div class="min_nav">
     <div class="min_nav_m">
           <p><a href="/about">关于源来</a>｜<a href="/team">源涞团队</a></p>
     </div>
</div>
<div class="footer">
    <div class="footer_m">
         <div class="footer_m_top">
                 <div class="footer_m_top_l">
                     <div class="first_col">
                       提供高效的入住安排快速通道 、提供定期客房清洁及更换床单毛巾服务 、提供免费的定点班车接送服务 、提供代订桶装水的服务 、提供干湿洗配送服务 、提供联系快递服务和邮寄服务 、提供房屋电器设备的维修及保养服务 、提供代订酒店、餐厅
                      </div>
                       <div class="two_col">
                           <div class="leftone">全国订房热线：（周一至周日8:00 - 20:00）<br class="tel"><font>400-686-1609</font></div>
                           <div class="leftone">全国订房热线：（周一至周日8:00 - 20:00）<br class="tel"><font>021-64403713</font></div>
                        </div>
                      <div class="clear"></div>
                </div>
                
                 <div class="footer_m_top_r">
                     <p><img src="/img/ewm.jpg" width="138" height="133" /><br /><font>扫一扫，下载APP</font></p>
                     <p><img src="/img/ewm.jpg" width="138" height="133"/><br /><font>关注官方微信</font></p>
                 </div>
                  <div class="clear"></div>
         </div>
         <div class="footer_m_center">
               热门楼盘小区：
             <% hotCommunities.forEach(function(val) { %>
                 <a href="/apartment/?communityId=<%= val._id %>"><%= val.name %></a>
             <% }) %>
         </div>
         <div class="footer_m_bottom">
             © Copyright 2013 -2016 www.ylrent.com All Rights Reserved. 源涞国际
             <br>IPC备案：沪ICP13031446
         </div>
    </div>
    <div class="clear"></div>
</div>