<div class="header">
    <div class="header_m">
        <div class="header_m_top">
            <img src="/img/logo.jpg" />
            <span>
              <a href="/login/">注册</a><a href="/register/">登录</a>
            </span>
        </div>
        <div class="header_m_bottom">
            <div class="nav">
                <a href="/">首页</a>
                <a href="/apartment">热门房源</a>
                <a href="/daily">日租房源</a>
                <a href="#">房东委托</a>
            </div>
            <div class="tel">
                400-668-1609
            </div>
        </div>
    </div>
</div>