<html>
<head>
<title>公寓专页</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
    body{ padding: 0px; margin: 0px;}
    .zhuanimg { margin: 0 auto; max-width: 1903px; width: 100%; min-width: 1500px;}
    .zhuanimg img { margin: 0 auto; text-align: center; width: 100%;}
    .img07 { position: relative;}
    .img07 .ft { position: absolute; font-size: 1.5em; top:3px; left: 40%; right: 40%; width: 20%; text-align: center; }
    .img07 .ig  { position: absolute; top: 22%; left: 21.9%; width: 56.2%;}
    .img07 .ig img { width: 100%;}
    .img07 .lanniu { position: absolute; cursor:pointer; font-size: 13px; background-color: #000; left: 35%; top: 87%; text-align: center; width: 10%; color: #fff; height: 35px; line-height: 37px;}
    .img07 .lanniu:hover { background-color: #848587; color: #fff; }
    .img07 .lanniu:visited { color: #fff; }
    .img07 .ri { left: 53.5%;}
</style>
</head>
<body >
    <div class="zhuanimg"><img src="/img/zhuan01.jpg"/></div>
    <div class="zhuanimg"><img src="/img/zhuan02.jpg"/></div>
    <div class="zhuanimg"><img src="/img/zhuan03.jpg"/></div>
    <div class="zhuanimg"><img src="/img/zhuan04.jpg"/></div>
    <div class="zhuanimg"><img src="/img/zhuan05.jpg"/></div>
    <div class="zhuanimg"><img src="/img/zhuan06.jpg"/></div>
    <div class="zhuanimg img07">
        <img src="/img/zhuan07.jpg"/>
        <div class="ft">套房 一室一厅一卫 98平</div>
        <div class="ig"><img src="/img/zhuanti1.jpg" /></div>
        <div class="lanniu"><a href="http://www.ylrent.com/apartment/type/57a00b9b1dd66212dae21690">月租 预订 ></a></div>
        <div class="lanniu ri"><a href="http://www.ylrent.com/daily/57a0091e1dd66212dae2168a">日租 预定 ></a></div>
    </div>
    <div class="zhuanimg"><img src="/img/zhuan08.jpg"/></div>
    <div class="zhuanimg"><img src="/img/zhuan09.jpg"/></div>
    <div class="zhuanimg"><img src="/img/zhuan10.jpg"/></div>
    <div class="zhuanimg img07">
        <img src="/img/zhuan11.jpg"/>
       
        <div class="ft">轻奢小户型  63平</div>
        <div class="ig"><img src="/img/zhuanti1.jpg" /></div>
        <div class="lanniu"><a href="http://www.ylrent.com/apartment/type/57a009cb1dd66212dae2168b">月租 预订 ></a></div>
        <div class="lanniu ri"><a href="http://www.ylrent.com/daily/57a008bf1dd66212dae21689">日租 预定 ></a></div>
    </div>
    <div class="zhuanimg"><img src="/img/zhuan12.jpg"/></div>
    <div class="zhuanimg"><img src="/img/zhuan13.jpg"/></div>
    <div class="zhuanimg"><img src="/img/zhuan14.jpg"/></div>
</body>
</html>