<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>源涞团队</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css" />

</head>
<body>
<% include header.ejs %>
<div class="min_banner01" style="background:url(/img/teambanner.jpg) center no-repeat; width: 100%;"></div>
<br />
<div class="team_x">
    <img src="/img/img_x10.jpg" width="294" height="373" />
    <div class="team_x_m">
        <h1>孙元元<br />
            <span>创始合伙人</span>
        </h1>
        <div class="team_x_m01">
            -  多年创业经验积累大量人脉，亦建立自己的忠诚团队；<br />
            -  2009年涉足房地产市场；<br />
            -  2012年起开始房屋租赁管理行业；<br />
            -  2013年创立源涞国际。


        </div>
    </div>
</div>

<div class="team_x">
    <img src="/img/1.jpg" width="294" height="373" />
    <div class="team_x_m">
        <h1>叶箐<br />
            <span>管理合伙人</span>
        </h1>
        <div class="team_x_m01">

            -  浙江大学工商管理学士、交大高金金融EMBA；<br />
            -  15年房地产及金融行业经验，<br />
            曾任戴德梁行商业地产部高级经理、瑞威资本管理合伙人；<br />
            -  成功投资上海锦和田林路项目、合肥国耀项目、<br />
            天津上河城项目、杭州东方时代广场项目、杭州香t州里等项目。
        </div>
    </div>
</div>

<div class="team_x">
    <img src="/img/2.jpg" width="294" height="373" />
    <div class="team_x_m">
        <h1>黄波<br />
            <span>总经理</span>
        </h1>
        <div class="team_x_m01">
            -  浙江大学建筑学学士，中欧工商管理学院工商管理硕士。<br />
            -  在房地产开发、投资及酒店、公寓投资管理上有丰富实践经验。<br />
            -  曾任职于浙江泛华建筑设计院，杭州滨江集团、盛世神州地产基金。


        </div>
    </div>
</div>
<div class="team_x">
    <img src="/img/3.jpg" width="294" height="373" />
    <div class="team_x_m">
        <h1>邱杰<br />
            <span>项目总经理</span>
        </h1>
        <div class="team_x_m01">
            - 具有十一年酒店及商业地产从业经历<br />
            - 上海外国语大学法学学士，英国曼彻斯特大学公司法硕士，<br />
            任雅高集团大中华区高级总监，美国地产Trump集团大中华区CEO，<br />
            - 在房地产法律领域，酒店投资运营，商业地产开发，融资，<br />
            和运营和管理方面有丰富经验。

        </div>
    </div>
</div>

<% include footer.ejs %>
